<%if (storage.files === undefined || storage.files.length < 1){ %>
<p>You have no folders saved yet</p>
<p>Consider saving / creating a new folder</p>
<%} else { %> <%storage.file.forEach((item) => { %>
<p><%=item.name%></p>
<div><%=item.content%></div>
<%})%> <%}%>
