<!--
TODO: This should be a modal, and there should be a big plus sign in order to add new files. That way the UX/UI is better

OR: a new route/page
-->

<div class="mt-15">
  <form
    action="/submit/<%=folder.id%>"
    method="POST"
    enctype="multipart/form-data"
  >
    <div>
      <label for="file" class="block">Upload your file: </label>
      <input
        type="file"
        id="file"
        name="file"
        required
        class="rounded-sm border-sky-900 pl-2 hover:bg-sky-50 border-1 hover:cursor-pointer"
      />
    </div>
    <button
      type="submit"
      class="mt-5 py-2 px-14 rounded-sm bg-blue-950 text-white hover:bg-blue-900 hover:cursor-pointer"
    >
      Submit
    </button>
  </form>
</div>
