<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%=title%></title>
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body>
    <%-include("../partials/header")%>
    <section class="mx-20">
      <h1 class="mt-5 mb-10 text-3xl text-center"><%=title%></h1>
      <form action="/logout" method="POST" class="grid justify-center">
        <button
          type="submit"
          class="px-14 py-2 rounded-sm border-slate-200 hover:bg-slate-200 hover:border-slate-200 border-2 hover:cursor-pointer"
        >
          Logout
        </button>
      </form>
      <a
        href="/main"
        class="mt-5 py-2 px-14 rounded-sm bg-blue-950 text-white hover:bg-blue-900 hover:cursor-pointer"
        >Take me back to main menu!</a
      >
    </section>
    <%-include("../partials/footer")%>
  </body>
</html>
